body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 1rem;
}

.item{
    border: 1px solid black;
    padding: 15px;
    width: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    max-width: 15vw;
    height: 30rem;
}

.item:nth-child(11){
    order: 1;
}

.item:nth-child(2){
    order: 2;
}

.item:nth-child(12){
    order: 3;
}

.item:nth-child(4){
    order: 4;
}

.item:nth-child(8){
    order: 5;
}

.item:nth-child(9){
    order: 6;
}

.item:nth-child(6){
    order: 7;
}

.item:nth-child(5){
    order: 8;
}

.item:nth-child(1){
    order: 9;
}

.item:nth-child(3){
    order: 10;
}

.item:nth-child(7){
    order: 11;
}

.item:nth-child(10){
    order: 12;
}