*{
    box-sizing: border-box;
}

.container span{
    border: 1px solid black;
    text-align: center;
}

.container{
    display: flex;
}

.container .week{
    display: flex;
    flex-wrap: wrap;
}

.container .week .item__week,
.container .week .item__weekend{
    width: 100%;
}

.container .week .item{
    width: 20%;
}

.container .week .item:nth-child(8),
.container .week .item:nth-child(9){
    width: 50%;
}

.container .notes{
    display: flex;
    flex-direction: column;
}

.container .notes .reminder,
.container .notes .date{
    height: 100%;
}