@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: #898989;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Montserrat', sans-serif;
    color: #222222;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    max-width: 1300px;
    gap:24px;
}

.section .hero,
.section .img{
    width: 50%;
}

.section .title{
    letter-spacing: 1px;
    margin-bottom: 24px;
}

.section .hero .desc:first-of-type{
    margin-bottom: 12px;
}

.section .hero .desc:last-of-type{
    margin-bottom: 36px;
}

.section .item{
    display: flex;
}

.section .item img{
    width: 70px;
}

section .item .item-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
